@{
    ViewBag.Title = "Ok";
}

@*<h2>@ViewBag.Title.</h2>*@

<div style="padding-left:100px; padding-top: 300px">
    <p style=" font-size: 20px">
        Your order was completed successfully!
    </p>
</div>

<div style="padding-left:100px; padding-top: 100px">
    <p style=" font-size: 20px">
        @Html.ActionLink("Home", "Index", "Home")
    </p>
</div>

