
@{
    ViewBag.Title = "Receipt";
}


<div style="padding-left:100px; padding-top: 300px" >
    <p style=" font-size: 20px">
        Your receipt is being printed!
    </p>
</div>

<div style="padding-left:100px; padding-top: 100px">
    <p style=" font-size: 20px">
    @Html.ActionLink("Back to List", "ProductsToBeSold")
        </p>
</div>
